<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= javascript_include_tag 'pie_chart'%>
<table class="columns margin-top-10 ">
      <tr class="table-row">
      </tr>
</table>
